/SSD1289Ctrl.Net/.vs
/WaveshareOpen407Z/EWARM/settings
/WaveshareOpen407Z/EWARM/WaveshareOpen407Z
/WaveshareOpen407Z/EWARM/WaveshareOpen407Z.dep
/WaveshareOpen407Z/MDK-ARM/DebugConfig
/WaveshareOpen407Z/MDK-ARM/RTE
/WaveshareOpen407Z/MDK-ARM/WaveshareOpen407Z
/WaveshareOpen407Z/MDK-ARM/startup_stm32f407xx.lst
/WaveshareOpen407Z/MDK-ARM/WaveshareOpen407Z.bin
/WaveshareOpen407Z/SW4STM32/WaveshareOpen407Z/Drivers
/WaveshareOpen407Z/SW4STM32/WaveshareOpen407Z/.settings
/WaveshareOpen407Z/SW4STM32/WaveshareOpen407Z/Application
/WaveshareOpen407Z/SW4STM32/WaveshareOpen407Z/Debug
/WaveshareOpen407Z/TrueSTUDIO/WaveshareOpen407Z/.settings
/WaveshareOpen407Z/TrueSTUDIO/WaveshareOpen407Z/Debug
/SSD1289Ctrl.Net/SSD1289_Ctrl_App/obj
/SSD1289Ctrl.Net/SSD1289_Ctrl_App/bin
